@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
    font-size: 1.5vw;
    overflow: none;
}

:root {
    --bg-color: rgb(80, 80, 80);
    --top-nav-color: rgb(100, 100, 100);
    --btn-bg-color: rgb(220, 220, 220);
    --btn-border-color: rgb(50, 50, 50);
    --sellplace-bg: rgb(175, 175, 175);
}

html { background-color: var(--bg-color); }

.nav {
    display: flex;
    background-color: var(--top-nav-color);
}

.navimg {
    margin-left: 1.5vw;
    margin-bottom: .5vw;
    width: 3.5vw;
    height: 3.5vw;
}

.navitem {
    background-color: rgb(150, 150, 150);
    color: rgb(0, 128, 255);
    margin-left: 10px;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 25px;        
}

.x {
    width: 5vw;
    height: 5vw;
}

.game { text-align: center; }

.money {
    background-color: var(--btn-bg-color);
    width: 10vw;
    height: 5vw;
}

.menu {
    display: grid;
    grid-template-areas:
        "Coin X"
        "Bread Y";
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 5vw 5vw;
}

.x {
    grid-area: X;
}
.y { grid-area: Y; }
.money { grid-area: Coin; }
.bread { grid-area: Bread; }

.infobox {
    position: absolute;
    left: 100vw;
    transform: translate(-103%, -80%);
    display: grid;
    grid-template-columns: 15vw;
    grid-template-rows: 5vw;
    grid-template-areas: 
        "main"
        "second"
        "submit";
    text-align: center;
}

.infomaintext {
    background-color: var(--btn-bg-color);
    grid-area: main;
}

.infosecondtext {
    background-color: var(--btn-bg-color);
    grid-area: second;
}

.infosubmitbutton {
    background-color: var(--btn-bg-color);
    grid-area: submit;
}

.maingrid {
    display: grid;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -25%);
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: repeat(4, 8vw);
    justify-content: center;
}

.btn {
    background-color: var(--sellplace-bg);
}

.btnimg {
    width: 4vw;
    height: 4vw;
}