@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
    font-size: 1.5vw;
    overflow: none;
}

:root {
    --bg-color: rgb(80, 80, 80);
    --top-nav-color: rgb(100, 100, 100);
    --btn-bg-color: rgb(220, 220, 220);
    --btn-border-color: rgb(50, 50, 50);
}

html {
    background-color: var(--bg-color);
}

.nav {
    display: flex;
    background-color: var(--top-nav-color);

    .navimg {
        margin-left: 1.5vw;
        margin-bottom: .5vw;
        --x: 5vw;
        width: var(--x);
        height: var(--x);
    }
}

.x {
    width: 5vw;
    height: 5vw;
}

.game {
    text-align: center;
    .money {
        background-color: var(--btn-bg-color);
        width: 10vw;
        height: 5vw;
    }

    .menu {
        display: grid;
        grid-template-areas: 
            "Coin X"
            "Bread Y";
        grid-template-columns: 10vw 10vw;
        grid-template-rows: 5vw 5vw;
        
        .x {grid-area: X; background-color: var(--btn-bg-color);}
        .y {grid-area: Y;}
        .money {grid-area: Coin;}
        .bread {grid-area: Bread;}
    }

    .maingrid{
        display: grid;
        grid-template-columns: repeat(4, 8vw);
        grid-template-rows: repeat(4, 8vw);
        justify-content: center;

        .btn {
            .btnimg {
                width: 4vw;
                height: 4vw;
            }
        }
    }
}