@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

* { font-family: poppins; }

.nav {
    display: flex;
    background-color: #646464;
}

.navimg {
    margin-left: 1.5vw;
    margin-bottom: .5vw;
    width: 10vw;
    height: 10vw;
}

.navitem {
    background-color: #969696;
    color: #0080ff;
    margin-left: 10px;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 5vw;
    border-radius: calc((2.5vw + 2.5vh) / 2);
}

@media screen and (min-width: 430px) {
    .navimg {
        margin-left: 1.5vw;
        margin-bottom: .5vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    .navitem {
        background-color: #969696;
        color: #0080ff;
        margin-left: 10px;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5vw;
        border-radius: 25px;
    }
}