@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
}

:root {
    --bg-color: rgb(80, 80, 80);
    --top-nav-color: rgb(100, 100, 100);
    --btn-bg-color: rgb(220, 220, 220);
    --btn-border-color: rgb(50, 50, 50);
}

html {
    background-color: var(--bg-color);
}

.nav {
    background-color: var(--top-nav-color);
    display: flex;
}

.navimg {
    margin-left: 1.5vw;
    margin-bottom: .5vw;
    width: 10vw;
    height: 10vw;
}

.navitem {
    background-color: rgb(150, 150, 150);
    color: rgb(0, 128, 255);
    margin-left: 10px;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 25px;
}   

.buttons {
    display: grid;
    justify-content: center;
    --button-size: 25vw;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
}

.main_button {
    background-color: var(--btn-bg-color);
    border: 2vw solid rgb(50, 50, 50);
    font-size: 20vw;
    text-align: center;
}

.b1p1 { font-size: 10vw; }
.b1p2 { font-size: 4vw; }
.b2p1 { font-size: 10vw; }
.b2p2 { font-size: 5vw; }

@media screen and (min-width: 300px) {
    .navimg {
        margin-left: 1.5vw;
        margin-bottom: .5vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    
    .navitem {
        background-color: rgb(150, 150, 150);
        color: rgb(0, 128, 255);
        margin-left: 10px;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5vw;
        border-radius: 25px;        
    }
    
    .buttons {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 12.5vw);
        grid-template-rows: repeat(3, 12.5vw);
    }
    
    .main_button {
        background-color: var(--btn-bg-color);
        border: 1vw solid rgb(50, 50, 50);
        font-size: 8vw;
        text-align: center;
    }
    
    .b1p1 { font-size: 5vw; }
    .b1p2 { font-size: 2vw; }
    .b2p1 { font-size: 5vw; }
    .b2p2 { font-size: 2.5vw; }
}