@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
}

:root {
    --bg-color: #505050;
    --top-nav-color: #646464;
    --btn-bg-color: #888;
    --btn-hover-color: #aaa;
    --btn-border-color: #323232;
    --btn-border-color-hover: #444;
}

/*
#313031 dark gray
#8e8e8e light gray
#92E897 lime
*/

html {
    background-color: var(--bg-color);
}

.nav {
    background-color: var(--top-nav-color);
    display: flex;
}

.navimg {
    margin-left: 1.5vw;
    margin-bottom: .5vw;
    width: 10vw;
    height: 10vw;
}

.navitem {
    background-color: rgb(150, 150, 150);
    color: rgb(0, 128, 255);
    margin-left: 10px;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 25px;
}   

.buttons {
    display: grid;
    justify-content: center;
    --button-size: 25vw;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
    grid-gap: 2vw;
}


.main_button {
    background-color: var(--btn-bg-color);
    border: 2vw solid var(--btn-border-color);
    font-size: 18vw;
    text-align: center;
    transition: .5s;
}

.main_button:hover {
    background-color: var(--btn-hover-color);
    border: 2vw solid var(--btn-border-color-hover);
    transform: scale(1.05);
}

.b1p1 { font-size: 10vw; }
.b1p2 { font-size: 4vw; }
.b2p1 { font-size: 5vw; }
.b2p2 { font-size: 2vw; }

@media screen and (min-width: 430px) {
    .navimg {
        margin-left: 1.5vw;
        margin-bottom: .5vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    
    .navitem {
        background-color: rgb(150, 150, 150);
        color: rgb(0, 128, 255);
        margin-left: 10px;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5vw;
        border-radius: 25px;        
    }
    
    .buttons {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 12.5vw);
        grid-template-rows: repeat(3, 12.5vw);
        grid-gap: 1vw;
    }
    
    .main_button {
        background-color: var(--btn-bg-color);
        border: 1vw solid var(--btn-border-color);
        font-size: 8vw;
        text-align: center;
        transition: .5s;
    }

    .main_button:hover {
        background-color: var(--btn-hover-color);
        border: 1vw solid var(--btn-border-color-hover);
        transform: scale(1.05);
    }
    
    .b1p1 { font-size: 5vw; }
    .b1p2 { font-size: 2vw; }
}