@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
	text-align: center;
}

:root {
    --bg-color: #505050;
    --top-nav-color: #646464;
    --btn-bg-color: #888;
    --btn-hover-color: #aaa;
    --btn-border-color: #323232;
    --btn-border-color-hover: #444;
    --sidebar-color: #aaa;
    --sidebar-hover-color: #ccc;
}

body {
    background-color: var(--bg-color);
}

td {
	border: var(--btn-border-color) solid 1.8vw;
	background-color: var(--btn-bg-color);
}

td:nth-child(odd) {
	width: 25vw;
}

td:nth-child(2) {
	width: 75vw;
}

.subota {
	background-color: var(--btn-bg-color);
	border: var(--btn-border-color) solid calc((3vh + 3vw) / 2);
	font-size: calc((8vh + 8vw) / 2);
}

.buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: absolute;
	bottom: 0;
}

.buttons > button {
	height: 5vh;
	width: 33.3vw;
	background-color: var(--btn-bg-color);
	border: var(--btn-border-color) solid 2vw;
	font-size: calc((3vh + 3vw) / 2);
}

@media screen and (min-width: 430px) {
	.table {
		margin-left: 27vw;
	}

	td {
		font-size: calc((2.5vw + 2.5vh) / 2);
		border: var(--btn-border-color) solid 0.7vw;
	}

	td:nth-child(odd) {
		width: 10vw;
	}
	
	td:nth-child(2) {
		width: 20vw;
	}

	.buttons {
		place-items: center;
		margin-left: 35vw;
	}

	.buttons > button {
		height: 7vh;
		width: 10vw;
		border: var(--btn-border-color) solid 0.6vw;
		font-size: calc((2vh + 2vw) / 2);
	}
}