@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
}

:root {
    --bg-color: #505050;
    --top-nav-color: #646464;
    --btn-bg-color: #888;
    --btn-hover-color: #aaa;
    --btn-border-color: #323232;
    --btn-border-color-hover: #444;
    --sidebar-color: #aaa;
    --sidebar-hover-color: #ccc;
}

html {
    background-color: var(--bg-color);
}

.nav {
    display: flex;
    background-color: var(--top-nav-color);
}

.navimg {
    margin-left: 1.5vw;
    margin-bottom: .5vw;
    width: 10vw;
    height: 10vw;
}

.navitem {
    background-color: #969696;
    color: #0080ff;
    margin-left: 10px;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 25px;
}

.sidebar {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    bottom: 0;
}

.sidebutton {
    background-color: var(--btn-bg-color);
    border: 2vw solid var(--btn-border-color);
    font-size: 5vw;
    transition: .5s;
}

.raspored {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    font-size: 5vw;
    text-align: center;
}

.p {
    background-color: var(--btn-bg-color);
    border: 2vw solid var(--btn-border-color);
}

.neradnidan {
    background-color: var(--btn-bg-color);
    border: 3vw solid var(--btn-border-color);
    grid-column-start: 1;
    grid-column-end: 4;
    transition: .5s;
}

.neradnidan:hover {
    transform: scale(1.05);
    background-color: var(--btn-hover-color);
}

@media screen and (min-width: 430px) {
    .p {
        border: 1vw solid var(--btn-border-color);
        background-color: var(--btn-bg-color);
    }

    .navimg {
        margin-left: 1.5vw;
        margin-bottom: .5vw;
        width: 3.5vw;
        height: 3.5vw;
    }

    .navitem {
        background-color: #969696;
        color: #0080ff;
        margin-left: 10px;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5vw;
        border-radius: 25px;
    }

    .sidebar {
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translateX(-100%);
        left: 100vw;
        bottom: auto;
    }

    .sidebutton {
        background-color: var(--btn-bg-color);
        border: 0.9vw solid var(--btn-border-color);
        font-size: 2vw;
        text-align: center;
    }

    .raspored {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 15vw);
        font-size: 2vw;
        text-align: center;
    }

    .neradnidan {
        background-color: #969696;
        border: 3vw solid var(--btn-border-color);
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .neradnidan:hover {
        transform: scale(1.05);
        background-color: var(--btn-hover-color);
    }
}