* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
}

body { background-color: #505050; }

.main {
	display: grid;
	place-items: center;
}

.squares {
    display: grid;
    grid-template-columns: repeat(9, 90px);
    grid-template-rows: repeat(9, 90px);
}

.square {
    width: 80px;
    height: 80px;
    transition: 350ms;
}

.c0 { background-color: #f00; }
.c1 { background-color: #f80; }
.c2 { background-color: #ff0; }
.c3 { background-color: #8f0; }
.c4 { background-color: #0f0; }
.c5 { background-color: #0f8; }
.c6 { background-color: #0ff; }
.c7 { background-color: #08f; }
.c8 { background-color: #00f; }

.square:hover {
    transform: scale(1.15);
}

.square:hover::after {
    transform: scale(1);
}