@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
}

:root {
    --bg-color: rgb(80, 80, 80);
    --top-nav-color: rgb(100, 100, 100);
}

html {
    background-color: var(--bg-color);
}

.main {
    background-color: var(--bg-color);
}

.nav {
    display: flex;
    background-color: var(--top-nav-color);
}

.navimg {
    margin-left: 1.5vw;
    margin-bottom: .5vw;
    width: 10vw;
    height: 10vw;
}

.navitem {
    background-color: #969696;
    color: #0080ff;
    margin-left: 10px;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 15px;
}

@media screen and (min-width: 430px) {
    .navimg {
        margin-left: 1.5vw;
        margin-bottom: .5vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    .navitem {
        background-color: #969696;
        color: #0080ff;
        margin-left: 10px;
        padding: 1vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5vw;
        border-radius: 25px;
    }
}